#twit{
    left: 50%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa:hover {
    opacity: 0.7;
}
